# New entries need to be added:
# - In .env
# - In .env_template
# - In fly.io dashboard
# - In 1Password

DATABASE_URL=sqlite:test.db
UNSPLASH_API_KEY=XXXX
RESEND_API_KEY=XXXX
ENABLE_SENTRY=false
SENTRY_DSN=XXXX
RATE_LIMIT_PER_MS=100
RATE_LIMIT_BURST=200
